----------------------------------------------------
--Database - AdventureWorksDW2012
----------------------------------------------------
--Problem Statement - Top 2nd BaseRate
----------------------------------------------------

-- Method 1 - Using Max & operator

select max(BaseRate) from DimEmployee 
where BaseRate  < (select max(BaseRate) from DimEmployee)

-- Method 2 - Using Max & NOT IN

select max(BaseRate) from DimEmployee 
where BaseRate  
NOT IN (select max(BaseRate) from DimEmployee)

-- Method 3 - Using top 

Select top 1 BaseRate 
from (Select top 6 BaseRate from DimEmployee order by BaseRate desc) 
as tbl order by BaseRate asc

--Method using Distinct which is acccurate

SELECT BaseRate
FROM DimEmployee Emp1
WHERE (9-1) = 
(
SELECT COUNT(DISTINCT(Emp2.BaseRate))
FROM DimEmployee Emp2
WHERE Emp2.BaseRate > Emp1.BaseRate
)

SELECT [EmployeeKey]
      ,[SalesTerritoryKey]
      ,[FirstName]
      ,[LastName]
      ,[BaseRate]
	  FROM [AdventureWorksDW2012].[dbo].[DimEmployee]
  order by BaseRate desc